@import "../_variables";

header {
  color: inherit;
}

.header-navbar {
  background-color: $fondo-app;
  min-height: 78px;

  h1 {
    font-size: 1rem;
    margin: 0;
    align-items: center;

    @media (min-width: 768px) {
      font-size: 2em;
    }
  }

  #header-collapse {
    text-align: -webkit-right;
  }

  > div {
    background-color: $fondo-app;
  }

  .element span {
    color: inherit;
  }
}
